<h1>Shopping Cart</h1>
<ng-container  *ngIf="(shoppingCart$ | async) as shoppingCart">

  <p>You have {{shoppingCart.totalItemsCount}} items in your shopping
    cart.</p>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Quantity</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let productId of shoppingCart.productIds; let index = index">
      <td>{{index+1}}</td>
      <td>{{shoppingCart.items[productId].product.title}}</td>
      <td>{{shoppingCart.items[productId].quantity}}</td>
    </tr>

    </tbody>
  </table>
</ng-container>
