<form>

  <!--Title-->
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title">
  </div>

  <!--Price-->
  <div class="form-group">
    <label for="price">Price</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">$</span>
      </div>
      <input id="price" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
    </div>
  </div>

  <!--Category-->
  <div class="form-group">
    <label for="category">Category</label>
    <select class="form-control" id="category">
      <option *ngFor="let category of (categories$ | async)" [value]="category.key"> {{category.payload.val().name}}</option>
    </select>
  </div>

  <!--Image URL-->
  <div class="form-group">
    <label for="imageURL">Title</label>
    <input type="text" class="form-control" id="imageURL">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>
