<div class="row" >
  <div class="col-md-6">
    <form  [formGroup]="productForm">
      <!--Title-->
      <div class="form-group">
        <label for="title">Title</label>
        <input formControlName="title"
               [value]="(product && product.title) || ''"
               type="text" class="form-control" id="title" >
        <div *ngIf="title.touched && title.invalid" class="alert alert-danger"> This field is required</div>
      </div>

      <!--Price-->
      <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">$</span>
          </div>
          <input
            formControlName="price"
            [value]="(product && product.price) || ''"
            id="price" type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div *ngIf="price.touched && price.invalid" class="alert alert-danger"> This field is required</div>
      </div>

      <!--Category-->
      <div class="form-group">
        <label for="category">Category</label>

        <ng-container *ngIf="(product && product.category); else categorySelectTag">
          <select
            formControlName="category"
            [(ngModel)]="product.category"
            class="form-control" id="category">
            <option *ngFor="let category of (categories$ | async)" [value]="category.key">
              {{category.name}}
            </option>
          </select>
        </ng-container>

        <ng-template #categorySelectTag>
          <select
            formControlName="category"
            class="form-control" id="category">
            <option value="">Please select one</option>
            <option *ngFor="let category of (categories$ | async)" [value]="category.key">
              {{category.name}}
            </option>
          </select>
        </ng-template>

        <div *ngIf="category.touched && category.invalid" class="alert alert-danger"> This field is required</div>
      </div>

      <!--Image URL-->
      <div class="form-group">
        <label for="imageURL">Image</label>
        <input
          [value]="(product && product.imageUrl) || ''"
          type="text" class="form-control" id="imageURL" formControlName="imageURL">
        <div *ngIf="imageURL.touched && imageURL.invalid" class="alert alert-danger"> This field is required</div>
      </div>

      <div *ngIf="isSubmit && productForm.invalid" class="alert alert-danger">Please ensure all fields are fill out</div>

      <button type="submit" class="btn btn-primary" (click)="submitProductForm()">Submit</button>
      <button type="button" class="btn btn-danger" (click)="deleteProduct()">Delete</button>

    </form>
  </div>

  <!--Preview Image-->
  <div class="col-md-6">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" [src]="imageURL.value || (product && product.imageUrl)">
      <div class="card-body">
        <h5 class="card-title">{{title.value || (product && product.title)}}</h5>
        <p class="card-text">{{ (price.value || (product && product.price)) | currency: 'USD': true}}</p>
      </div>
    </div>
  </div>

</div>
