<div class="row" >
  <div class="col-md-6">
    <form  [formGroup]="productForm">
      <!--Title-->
      <div class="form-group">
        <label for="title">Title</label>
        <input formControlName="title"
               [(ngModel)]="product.title"
               type="text" class="form-control" id="title" >
        <div *ngIf="title.touched && title.invalid" class="alert alert-danger"> This field is required</div>
      </div>

      <!--Price-->
      <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">$</span>
          </div>
          <input
            formControlName="price"
            [(ngModel)]="product.price"
            id="price" type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div *ngIf="price.touched && price.invalid" class="alert alert-danger"> This field is required</div>
      </div>

      <!--Category-->
      <div class="form-group">
        <label for="category">Category</label>
        <select
          formControlName="category"
          class="form-control" id="category"
          [(ngModel)]="product.category">
          <option *ngFor="let category of (categories$ | async)" [value]="category.key">
            {{category.name}}
          </option>
        </select>

        <!--ToLearn: Using ng-container-->
        <!--<ng-container *ngIf="(product && product.category); else categorySelectTag">
          <select
            formControlName="category"
            [(ngModel)]="product.category"
            class="form-control" id="category">
            <option *ngFor="let category of (categories$ | async)" [value]="category.key">
              {{category.name}}
            </option>
          </select>
        </ng-container>

        <ng-template #categorySelectTag>
          <select
            formControlName="category"
            class="form-control" id="category">
            <option value="">Please select one</option>
            <option *ngFor="let category of (categories$ | async)" [value]="category.key">
              {{category.name}}
            </option>
          </select>
        </ng-template>-->

        <div *ngIf="category.touched && category.invalid" class="alert alert-danger"> This field is required</div>
      </div>

      <!--Image URL-->
      <div class="form-group">
        <label for="imageUrl">Image</label>
        <input
          [(ngModel)]="product.imageUrl"
          type="text" class="form-control" id="imageUrl" formControlName="imageUrl">
        <div *ngIf="imageUrl.touched && imageUrl.invalid" class="alert alert-danger"> This field is required</div>
      </div>

      <div *ngIf="isSubmit && productForm.invalid" class="alert alert-danger">Please ensure all fields are fill out</div>

      <button type="submit" class="btn btn-primary" (click)="submitProductForm()">Submit</button>
      <button type="button" class="btn btn-danger" (click)="deleteProduct()">Delete</button>

    </form>
  </div>

  <!--Preview Image-->
  <div class="col-md-6">
    <ng-container *ngIf="product.imageUrl">
      <app-product-card [product]="product" [is-show-add-to-cart]="false"></app-product-card>
    </ng-container>
  </div>

</div>
